n8n/workflows/A-ingest-run.json
{
  "name": "A - Ingest & Run Content Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://vnexpress.net/rss/the-thao.rss",
        "options": {}
      },
      "id": "rss-1",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 0],
      "notes": "Replace url with your RSS feed. Or use Webhook/HTTP for other sources."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rawItems = items.map(i => ({\n  id: i.json.guid || i.json.link,\n  title: i.json.title || '',\n  body: i.json.content || i.json.description || i.json.contentSnippet || '',\n  url: i.json.link || i.json.url,\n  publishedAt: i.json.isoDate || i.json.pubDate\n}));\nconst urls = rawItems.map(i => (i.url || '')).sort().join('|');\nlet idempotencyKey;\ntry {\n  idempotencyKey = require('crypto').createHash('sha256').update('rss-' + urls).digest('hex');\n} catch {\n  idempotencyKey = 'rss-' + Date.now() + '-' + urls.slice(0, 50);\n}\nreturn [{\n  json: {\n    sourceType: 'rss',\n    rawItems,\n    publishPolicy: 'auto',\n    channel: { id: 'blog-1', type: 'blog', metadata: {} },\n    idempotencyKey\n  }\n}];"
      },
      "id": "code-1",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/v1/jobs/content/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-idempotency-key", "value": "={{ $json.idempotencyKey }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sourceType: $json.sourceType, rawItems: $json.rawItems, publishPolicy: $json.publishPolicy, channel: $json.channel }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-1",
      "name": "Call Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "notes": "Set headers: x-idempotency-key={{ $json.idempotencyKey }}, Authorization: Bearer <API_KEY>"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Check Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/v1/jobs/{{ $json.jobId }}/acquire-publish-slot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channelId\": \"{{ $json.channel?.id || 'blog-1' }}\",\n  \"channelType\": \"{{ $json.channel?.type || 'blog' }}\"\n}"
      },
      "id": "acquire-1",
      "name": "Acquire Publish Slot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, -100],
      "notes": "Checks publish dedupe + rate limit. Only publish if canPublish=true."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.canPublish }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-publish",
      "name": "Can Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Content approved - job {{ $('Check Decision').item.json.jobId }} ready to publish\",\n  \"channel\": \"#content\"\n}"
      },
      "id": "publish-1",
      "name": "Publish (HTTP/Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, -200],
      "notes": "Replace with your publish channel - CMS API, social API, etc."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Review required - job {{ $json.jobId }}\",\n  \"channel\": \"#content-review\"\n}"
      },
      "id": "notify-1",
      "name": "Notify Review Required",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "jsCode": "// Skipped: duplicate or rate limit\nconst item = $input.first();\nconsole.log('Publish skipped:', item.json.reason, item.json);\nreturn [item];"
      },
      "id": "log-skip",
      "name": "Log Publish Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "jsCode": "// Rejected - log and stop\nconst item = $input.first();\nconsole.log('Job rejected:', item.json);\nreturn [item];"
      },
      "id": "log-1",
      "name": "Log Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "RSS Feed Read", "type": "main", "index": 0 }]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [{ "node": "Normalize Payload", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Payload": {
      "main": [
        [{ "node": "Call Orchestrator", "type": "main", "index": 0 }]
      ]
    },
    "Call Orchestrator": {
      "main": [
        [{ "node": "Check Decision", "type": "main", "index": 0 }]
      ]
    },
    "Check Decision": {
      "main": [
        [{ "node": "Acquire Publish Slot", "type": "main", "index": 0 }],
        [{ "node": "Notify Review Required", "type": "main", "index": 0 }]
      ]
    },
    "Acquire Publish Slot": {
      "main": [[{ "node": "Can Publish?", "type": "main", "index": 0 }]]
    },
    "Can Publish?": {
      "main": [
        [{ "node": "Publish (HTTP/Slack)", "type": "main", "index": 0 }],
        [{ "node": "Log Publish Skipped", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
