n8n/workflows/A-trend-ingest.json
{"name":"A - Trend Ingest","nodes":[{"parameters":{},"id":"trigger-1","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://vnexpress.net/rss/the-thao.rss","options":{}},"id":"rss-vnexpress","name":"RSS vnexpress-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-700]},{"parameters":{"url":"https://tuoitre.vn/rss/the-thao.rss","options":{}},"id":"rss-tuoitre","name":"RSS tuoitre-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-600]},{"parameters":{"url":"https://dantri.com.vn/rss/the-thao.rss","options":{}},"id":"rss-dantri","name":"RSS dantri-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-500]},{"parameters":{"url":"https://zingnews.vn/rss/the-thao.rss","options":{}},"id":"rss-zing","name":"RSS zingnews-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-400]},{"parameters":{"url":"https://bongda.com.vn/feed.rss","options":{}},"id":"rss-bongda-feed","name":"RSS bongda-feed","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-300]},{"parameters":{"url":"https://bongda.com.vn/viet-nam.rss","options":{}},"id":"rss-bongda-vn","name":"RSS bongda-vietnam","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-200]},{"parameters":{"url":"https://bongda.com.vn/v-league.rss","options":{}},"id":"rss-bongda-vleague","name":"RSS bongda-vleague","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,-100]},{"parameters":{"url":"https://bongda.com.vn/tin-chuyen-nhuong.rss","options":{}},"id":"rss-bongda-cn","name":"RSS bongda-chuyennhuong","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,0]},{"parameters":{"url":"https://bongda.com.vn/champions-league.rss","options":{}},"id":"rss-bongda-c1","name":"RSS bongda-c1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,100]},{"parameters":{"url":"https://bongda.com.vn/bong-da-anh.rss","options":{}},"id":"rss-bongda-anh","name":"RSS bongda-anh","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,200]},{"parameters":{"url":"https://bongda.com.vn/aff-cup.rss","options":{}},"id":"rss-bongda-aff","name":"RSS bongda-aff","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,300]},{"parameters":{"url":"https://bongda.com.vn/world-cup.rss","options":{}},"id":"rss-bongda-wc","name":"RSS bongda-worldcup","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,400]},{"parameters":{"url":"https://thanhnien.vn/rss/the-thao.rss","options":{}},"id":"rss-thanhnien","name":"RSS thanhnien-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,600]},{"parameters":{"url":"https://vietnamnet.vn/rss/the-thao.rss","options":{}},"id":"rss-vietnamnet","name":"RSS vietnamnet-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,700]},{"parameters":{"url":"https://nld.com.vn/rss/the-thao.rss","options":{}},"id":"rss-nld","name":"RSS nld-thethao","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,800]},{"parameters":{"url":"https://bongda24h.vn/RSS/1.rss","options":{}},"id":"rss-b24h-1","name":"RSS bongda24h-1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,900]},{"parameters":{"url":"https://bongda24h.vn/RSS/168.rss","options":{}},"id":"rss-b24h-168","name":"RSS bongda24h-168","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,1000]},{"parameters":{"url":"https://www.tinthethao.com.vn/feed.rss","options":{}},"id":"rss-tinthethao","name":"RSS tinthethao-feed","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,1100]},{"parameters":{"url":"https://www.tinthethao.com.vn/bong-da.rss","options":{}},"id":"rss-tinthethao-bd","name":"RSS tinthethao-bongda","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,1200]},{"parameters":{"url":"https://thethao247.vn/the-thao-24h.rss","options":{}},"id":"rss-t247-24h","name":"RSS thethao247-24h","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,1300]},{"parameters":{"url":"https://thethao247.vn/bong-da.rss","options":{}},"id":"rss-t247-bd","name":"RSS thethao247-bongda","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[200,1400]},{"parameters":{"mode":"append","options":{}},"id":"merge-1","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[420,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-2","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[460,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-3","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[500,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-4","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":3,"position":[540,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-5","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":3,"position":[580,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-6","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[620,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-7","name":"Merge7","type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-8","name":"Merge8","type":"n8n-nodes-base.merge","typeVersion":3,"position":[700,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-9","name":"Merge9","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-10","name":"Merge10","type":"n8n-nodes-base.merge","typeVersion":3,"position":[780,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-11","name":"Merge11","type":"n8n-nodes-base.merge","typeVersion":3,"position":[820,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-12","name":"Merge12","type":"n8n-nodes-base.merge","typeVersion":3,"position":[860,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-13","name":"Merge13","type":"n8n-nodes-base.merge","typeVersion":3,"position":[940,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-14","name":"Merge14","type":"n8n-nodes-base.merge","typeVersion":3,"position":[980,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-15","name":"Merge15","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1020,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-16","name":"Merge16","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1060,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-17","name":"Merge17","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1100,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-18","name":"Merge18","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1140,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-19","name":"Merge19","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1180,700]},{"parameters":{"mode":"append","options":{}},"id":"merge-20","name":"Merge20","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1220,700]},{"parameters":{"jsCode":"const MAX_BODY = 1200;\nconst parseTime = (s) => {\n  if (!s) return 0;\n  const t = Date.parse(s);\n  return Number.isNaN(t) ? 0 : t;\n};\nconst items = $input.all();\nlet rawItems = items.map(i => {\n  const body = (i.json.content || i.json.description || i.json.contentSnippet || '').trim();\n  return {\n    id: i.json.guid || i.json.link,\n    title: (i.json.title || '').trim(),\n    body: body.length > MAX_BODY ? body.slice(0, MAX_BODY) : body,\n    url: i.json.link || i.json.url,\n    publishedAt: i.json.isoDate || i.json.pubDate\n  };\n}).filter(x => x.title && x.body && x.body.length >= 50);\nrawItems.sort((a, b) => parseTime(b.publishedAt) - parseTime(a.publishedAt));\nif (rawItems.length === 0) {\n  return [{ json: { rawItems: [], skip: true } }];\n}\nreturn [{\n  json: {\n    rawItems,\n    channel: { id: 'blog-1', type: 'blog', metadata: {} },\n    _meta: { rssItemCount: items.length, afterFilter: rawItems.length, sentToTrend: rawItems.length }\n  }\n}];"},"id":"code-normalize","name":"Normalize Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"if-skip","name":"Skip if Empty?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,0]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/v1/jobs/trend/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ domain: 'sports-vn', rawItems: $json.rawItems, channel: $json.channel }) }}","options":{"timeout":60000}},"id":"http-trend","name":"Call Trend API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,-100]},{"parameters":{"method":"GET","url":"=http://host.docker.internal:3000/v1/jobs/{{ $json.jobId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}"}]},"options":{}},"id":"http-get-job","name":"Get Trend Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,-100]},{"parameters":{"jsCode":"const job = $input.first().json;\nconst trendJobId = $('Call Trend API').item.json.jobId;\nconst candidates = (job.output?.trendCandidates || []).slice(0, 5);\nif (candidates.length === 0) return [];\nreturn candidates.map((_, i) => ({ json: { trendJobId, topicIndex: i } }));"},"id":"code-split","name":"Split Candidates","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-100]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/v1/jobs/content/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ sourceType: 'trend', trendJobId: $json.trendJobId, topicIndex: $json.topicIndex, publishPolicy: 'auto', channel: { id: 'blog-1', type: 'blog', metadata: {} } }) }}","options":{"timeout":120000}},"id":"http-content","name":"Call Content API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,-100]}],"connections":{"Manual Trigger":{"main":[[{"node":"RSS vnexpress-thethao","type":"main","index":0},{"node":"RSS tuoitre-thethao","type":"main","index":0},{"node":"RSS dantri-thethao","type":"main","index":0},{"node":"RSS zingnews-thethao","type":"main","index":0},{"node":"RSS bongda-feed","type":"main","index":0},{"node":"RSS bongda-vietnam","type":"main","index":0},{"node":"RSS bongda-vleague","type":"main","index":0},{"node":"RSS bongda-chuyennhuong","type":"main","index":0},{"node":"RSS bongda-c1","type":"main","index":0},{"node":"RSS bongda-anh","type":"main","index":0},{"node":"RSS bongda-aff","type":"main","index":0},{"node":"RSS bongda-worldcup","type":"main","index":0},{"node":"RSS thanhnien-thethao","type":"main","index":0},{"node":"RSS vietnamnet-thethao","type":"main","index":0},{"node":"RSS nld-thethao","type":"main","index":0},{"node":"RSS bongda24h-1","type":"main","index":0},{"node":"RSS bongda24h-168","type":"main","index":0},{"node":"RSS tinthethao-feed","type":"main","index":0},{"node":"RSS tinthethao-bongda","type":"main","index":0},{"node":"RSS thethao247-24h","type":"main","index":0},{"node":"RSS thethao247-bongda","type":"main","index":0}]]},"RSS vnexpress-thethao":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"RSS tuoitre-thethao":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"RSS dantri-thethao":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"RSS zingnews-thethao":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"RSS bongda-feed":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"RSS bongda-vietnam":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Merge5":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"RSS bongda-vleague":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Merge6":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"RSS bongda-chuyennhuong":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Merge7":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"RSS bongda-c1":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"RSS bongda-anh":{"main":[[{"node":"Merge9","type":"main","index":1}]]},"Merge9":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"RSS bongda-aff":{"main":[[{"node":"Merge10","type":"main","index":1}]]},"Merge10":{"main":[[{"node":"Merge11","type":"main","index":0}]]},"RSS bongda-worldcup":{"main":[[{"node":"Merge11","type":"main","index":1}]]},"Merge11":{"main":[[{"node":"Merge12","type":"main","index":0}]]},"Merge12":{"main":[[{"node":"Merge13","type":"main","index":0}]]},"RSS thanhnien-thethao":{"main":[[{"node":"Merge12","type":"main","index":1}]]},"RSS vietnamnet-thethao":{"main":[[{"node":"Merge13","type":"main","index":1}]]},"Merge13":{"main":[[{"node":"Merge14","type":"main","index":0}]]},"RSS nld-thethao":{"main":[[{"node":"Merge14","type":"main","index":1}]]},"Merge14":{"main":[[{"node":"Merge15","type":"main","index":0}]]},"RSS bongda24h-1":{"main":[[{"node":"Merge15","type":"main","index":1}]]},"Merge15":{"main":[[{"node":"Merge16","type":"main","index":0}]]},"RSS bongda24h-168":{"main":[[{"node":"Merge16","type":"main","index":1}]]},"Merge16":{"main":[[{"node":"Merge17","type":"main","index":0}]]},"RSS tinthethao-feed":{"main":[[{"node":"Merge17","type":"main","index":1}]]},"Merge17":{"main":[[{"node":"Merge18","type":"main","index":0}]]},"RSS tinthethao-bongda":{"main":[[{"node":"Merge18","type":"main","index":1}]]},"Merge18":{"main":[[{"node":"Merge19","type":"main","index":0}]]},"RSS thethao247-24h":{"main":[[{"node":"Merge19","type":"main","index":1}]]},"Merge19":{"main":[[{"node":"Merge20","type":"main","index":0}]]},"RSS thethao247-bongda":{"main":[[{"node":"Merge20","type":"main","index":1}]]},"Merge20":{"main":[[{"node":"Normalize Payload","type":"main","index":0}]]},"Normalize Payload":{"main":[[{"node":"Skip if Empty?","type":"main","index":0}]]},"Skip if Empty?":{"main":[[],[{"node":"Call Trend API","type":"main","index":0}]]},"Call Trend API":{"main":[[{"node":"Get Trend Job","type":"main","index":0}]]},"Get Trend Job":{"main":[[{"node":"Split Candidates","type":"main","index":0}]]},"Split Candidates":{"main":[[{"node":"Call Content API","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"}}
