n8n/workflows/B-manual-approval.json
{
  "name": "B - Manual Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "content-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Approve or Reject",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/v1/jobs/{{ $json.jobId }}/approve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ actor: $json.actor || 'manual', reason: $json.reason }) }}"
      },
      "id": "http-approve",
      "name": "Call Approve API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/v1/jobs/{{ $json.jobId }}/reject",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env['ORCHESTRATOR_API_KEY'] }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ actor: $json.actor || 'manual', reason: $json.reason || 'Manual reject' }) }}"
      },
      "id": "http-reject",
      "name": "Call Reject API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Content published - job {{ $json.jobId }}\"\n}"
      },
      "id": "publish-1",
      "name": "Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100],
      "notes": "Replace with your CMS/social publish API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, action: 'rejected', jobId: $json.jobId } }}"
      },
      "id": "respond-1",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, action: 'approved', jobId: $json.jobId, nextAction: $json.nextAction } }}"
      },
      "id": "respond-2",
      "name": "Respond Approved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, -100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Approve or Reject", "type": "main", "index": 0 }]]
    },
    "Approve or Reject": {
      "main": [
        [{ "node": "Call Approve API", "type": "main", "index": 0 }],
        [{ "node": "Call Reject API", "type": "main", "index": 0 }]
      ]
    },
    "Call Approve API": {
      "main": [[{ "node": "Publish", "type": "main", "index": 0 }]]
    },
    "Call Reject API": {
      "main": [[{ "node": "Respond Rejected", "type": "main", "index": 0 }]]
    },
    "Publish": {
      "main": [[{ "node": "Respond Approved", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
